.board {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    .board-cell {
        display: block;
        width: 20px;
        height: 20px;
        background-color: #eee;
        &.black {
            background-color: #000;
        }
        &.snake {
            background-image: url("@/assets/snake_body.png");
            background-repeat: no-repeat;
            background-size: cover;
            &.head {
                background-image: url("@/assets/snake_head.png");
                transform: rotate(-90deg);
            }
            &.tail {
                background-image: url("@/assets/snake_tail.png");
                transform: rotate(180deg);
            }
        }
    }
}
